@model GLAA.ViewModels.LicenceApplication.LicenceApplicationViewModel

@{
    ViewData["Title"] = "Portal";
}

<div class="grid-row">
    
    <div class="column-two-thirds">
        @{
            var submitted = (bool)ViewData["IsSubmitted"];
            var partialViewName = submitted ? "_ApplicationComplete" : "_ApplicationInProgress";
        }

        @await Html.PartialAsync(partialViewName, Model)

    </div>
    <div class="column-third">
        <aside class="govuk-related-items add-heading-medium js-stick-at-top-when-scrolling">
            <h2>Portal</h2>
            <nav>
                <ul>
                    <li><a href="@Url.Action("Portal", "Licence")">Licence status</a></li>
                    <li><a href="@Url.Action("ViewApplication", "Licence")">View my application</a></li>
                    <li><a href="@Url.Action("UserProfile", "Account")">My account</a></li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
