@model List<GLAA.ViewModels.LicenceApplication.PreviousTradingNameViewModel>

<table class="check-your-answers">
    <tbody>
        @foreach (var name in Model)
        {
            <tr>
                <td>@name.BusinessName</td>
                <td>@name.Town</td>
                <td>@name.Country</td>
            </tr>
        }
    </tbody>
</table>

