.external-status {
	width: 97%;
	padding: 1.5%;
	margin-bottom: 20px;
}

.status-grey {
	background-color: #BFC1C3; // $grey-2
	color: white;
}

.status-blue {
	background-color: #2B8CC4; // $light-blue
	color: black;
}

.status-orange {
	background-color: #F47738; // $orange
	color: black;
}

.status-yellow {
	background-color: #FFBF47; // $yellow
	color: black;
}

.status-green {
	background-color: #006435; // $green
	color: white;
}

.status-turquoise {
	background-color: #28A197; // $turquoise
	color: white;
}

.status-red {
	background-color: #B10E1E; // $red
	color: white;
}
