@{
    ViewBag.Title = "Named Individual - Part 1";
}

@model GLAA.ViewModels.LicenceApplication.NamedJobTitleViewModel
    
@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "FormSection" }, { "submittedPageId", "1" } })

@using (Html.BeginForm("SaveJobTitle", "JobTitle"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                Job Titles
            </h1>
            <p>The employees within these job titles must be direct employees of the business and not subcontractors.</p>
            <p>Please state the job titles (and number of employees who have this job title). <br/>
            These are authorised to negotiate with Labour Users and supply workers within the regulated sector.<br /> 
            This should include the Job Titles of Directors / Partners who have the authority to undertake this activity.</p>
        </div>
        <div class="column-two-thirds">
            @Html.TextFormGroupFor(x => x.JobTitle)
            @Html.TextFormGroupFor(x => x.JobTitleNumber)
        </div>
    </div>
    
    <button type="submit" class="button">Save and continue</button>
}

