@model GLAA.ViewModels.PublicRegister.PublicRegisterLicenceSummaryViewModel

@{
    ViewBag.Title = "GLAA - View Licence";
}


<div>
    <div>@Model.Id</div>
    <div>@Model.BusinessName</div>
    <div>@Model.PrincipalAuthorityName</div>
    <div>Licensed</div>
</div>
