@{
    ViewBag.Title = "Principal Authority's email address";
}

@model GLAA.ViewModels.PrincipalAuthorityEmailAddressViewModel

@using (Html.BeginForm("SaveEmailAddress", "SignUp"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">@ViewBag.Title</h1>
        </div>

        <div class="column-two-thirds">
            @Html.TextFormGroupFor(m => m.EmailAddress)
            <button type="submit" class="button">Continue</button>
        </div>
    </div>
}
