@{
    ViewBag.Title = "Summary of whether you need a licence";
}

@model GLAA.ViewModels.LicenceApplication.EligibilityViewModel

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">
                Check your account details
            </h1>
            @Html.DisplayFor(m => m)
        </div>
        <div class="column-full">
            <p>We will be sharing and checking your information with other Government Departments and their agencies. For more information <a href="#">please read our privacy policy.</a></p>
            <p><a class="button button-start" href="@Url.Action("Index", "Declaration")">Complete account set up</a></p>
        </div>
    </div>
</main>
