@{
    ViewBag.Title = "Create an account to start";
}

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">@ViewBag.Title</h1>

            <p class="lede">
                This will help you keep track of your application and allow access at any point to review your license, amend and renew your license.
            </p>

            <p>
                The Principal Authority of the licence being issued should create the account. If this is incorrect it could delay the process or even void the application form.
            </p>
            <p>
                We will also be sharing your information with other government departments as part of our checks. For more information <a href="#">please read our privacy policy.</a>
            </p>

            <br />
            <a class="button button-start" asp-controller="Eligibility" asp-action="Eligibility" asp-route-id="1" role="button">Create Account</a>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <a href="#">&gt; What is a Principal Authority?</a>
            <p>
                Principal Authority (PA) is a term that we use to describe the person responsible for the day to day management of the business.  In the case of a company the PA will normally be the managing director.  If there is a person in your company that meets this definition, that person should be named as the PA on the application rather than yourself.  If you are responsible for the day-to-day management of the business, then we will require written confirmation by letter or email from a director of your company providing confirmation that you meet the definition of a PA.
            </p>
        </div>
    </div>
}
