@{
    ViewBag.Title = "Verification email sent";
}

<div class="grid-row">
    <div class="column-full">
        <section class="govuk-box-highlight">
            <h1 class="heading-xlarge">We have sent you an email</h1>
            <p class="font-medium">
                Please check your emails and verify your account is set up.
            </p>
        </section>
    </div>
    <div class="column-full">
        <h2 class="heading-large">What happens next?</h2>
        <p>If you have received an email from us please click through to create a new password for your account. This will complete the sign up process. This can take a few minutes to come through so allow a short delay.</p>
    </div>
    <div class="column-full">
        <a class="button button-start" href="#">Sign in to continue</a>
    </div>
</div>
