@{
    ViewBag.Title = "What country were you born in?";
}

@model GLAA.ViewModels.LicenceApplication.CountryOfBirthViewModel

@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "AlternativeBusinessRepresentative" }, { "submittedPageId", "5" } })

@using (Html.BeginForm("SaveCountryOfBirth", "AlternativeBusinessRepresentative"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.DropDownFormGroupFor(x => x.CountryOfBirthId, Model.Countries)
            <button type="submit" class="button">Save and continue</button>
        </div>
    </div>
}