.phase-banner {
    max-width: 960px;
    margin: 0 15px;
}

#content.admin-content-container {
    max-width: none;
}

@media (min-width: 641px) {
    .phase-banner,
    .admin-heading {
        margin: 0 30px;
    }
}

@media (min-width: 1020px) {
    .phase-banner,
    .admin-heading {
        margin: 0 auto;
    }
}

.phase-banner {
    margin:0;
    max-width:inherit;
    width:100%;
}

.phase-banner p {
    margin:0 auto;
    max-width:990px;
    width: calc(100% - 25px);
    padding-left:25px;
}

.phase-banner p span {
    display:inline-block;
    padding-right:25px;
}

    .multiple-choice [type=checkbox] ~ label::before {
        content: "";
        border: 2px solid;
        background: transparent;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .multiple-choice [type=checkbox] ~ label::after {
        content: "";
        border: solid;
        border-width: 0 0 5px 5px;
        background: transparent;
        border-top-color: transparent;
        width: 17px;
        height: 7px;
        position: absolute;
        top: 10px;
        left: 8px;
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .multiple-choice input:checked ~ label::after {
        zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1;
    }