@{
    ViewBag.Title = "What is the address of your main place of business?";
}

@model GLAA.ViewModels.LicenceApplication.AddressViewModel

@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "OrganisationDetails" }, { "submittedPageId", "3" } })

@using (Html.BeginForm("SaveAddress", "OrganisationDetails"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.EditorFor(x => x)
            <button type="submit" class="button">Save and continue</button>
        </div>
    </div>
}

@section Scripts {
}