@model GLAA.ViewModels.LicenceApplication.OperatingIndustriesViewModel
@{
    ViewBag.Title = "Which GLAA sectors would you like to operate in?";
}

@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "OrganisationDetails" }, { "actionName", "OperatingIndustries" } })

@using (Html.BeginForm("OperatingIndustries", "OrganisationDetails"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.CheckBoxFormGroupFor(x => x.OperatingIndustries, Model.OperatingIndustries)
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}
