@{
    ViewBag.Title = "What is your business website?";
}

@model GLAA.ViewModels.LicenceApplication.BusinessWebsiteViewModel

@using (Html.BeginForm("SaveBusinessWebsite", "OrganisationDetails"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
        <div class="column-two-thirds">            
            <div class="form-group">
                @Html.LabelWithHintFor(x => x.BusinessWebsite)
                @Html.TextBoxFor(x => x.BusinessWebsite, new { @class = "form-control"})
            </div>
        </div>
    </div>
    <button type="submit" class="button">Save and continue</button>
}

@section scripts
{        
}