@model GLAA.ViewModels.LicenceApplication.OperatingIndustriesViewModel
@{
    ViewBag.Title = "Organisation Details - Part 3";
}

@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "OrganisationDetails" }, { "submittedPageId", "14" } })

@using (Html.BeginForm("SaveOperatingIndustries", "OrganisationDetails"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                Which GLAA sectors would you like to operate in?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.CheckBoxFormGroupFor(x => x.OperatingIndustries, Model.OperatingIndustries)
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}
