@{
    ViewBag.Title = "What is your preferred channel of communication?";
}

@model GLAA.ViewModels.LicenceApplication.CommunicationPreferenceViewModel

@using (Html.BeginForm("SaveCommunicationPreference", "OrganisationDetails"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.RadioButtonFormGroupFor(x => x.CommunicationPreference, Model.AvailableCommunicationPreferences)
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}

@section Scripts {    
}