@{
    ViewBag.Title = "What is your estimated business turnover?";
}

@model GLAA.ViewModels.LicenceApplication.TurnoverViewModel

@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "OrganisationDetails" }, { "submittedPageId", "12" } })

@using (Html.BeginForm("Turnover", "OrganisationDetails"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>

        <div class="column-two-thirds">
            @Html.RadioButtonFormGroupFor(x => x.TurnoverBand, Model.AvailableTurnoverBands, "Select the item which matches most closely your turnover")
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}

