@model GLAA.ViewModels.Admin.AdminUserViewModel

<h2 class="heading-large admin-page-title">Edit User</h2>

@Html.ActionLink("Back to list", "Users")
@using (Html.BeginForm())
{
    <table class="table">
        <tbody>
        <tr>
            <td>Full name</td>
            <td>@Html.EditorFor(m => m.FullName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>@Html.EditorFor(m => m.Email, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>@Html.DropDownListFor(m => m.Role, Model.AvailableRoles, new { @class = "form-control" })</td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="button">Save</button>
}
