@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="grid-row">

    <div class="column-two-thirds">

        @Html.Partial("_GdsValidationSummary")

        <h2 class="heading-large">@ViewData["Title"]</h2>
        <p class="lede">Enter your email address to reset your password.</p>        

        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            @Html.TextFormGroupFor(x => x.Email)

            <div class="form-group">
                <div>
                    <input type="submit" value="Reset" class="button button-start" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
