@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-large">Password Reset Submitted</h2>
        <p class="lede">Reset password link sent to @Model</p>
        <p>Check your email address and follow the instructions to reset your password.</p>
    </div>
</div>
