@{
    ViewData["Title"] = "Password Reset Successful";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-large">Password Reset Successful</h2>
        <p class="lede">Your password has been reset, please <a asp-action="Login">click here to sign in</a>.</p>
    </div>
</div>
