@{
    ViewBag.Title = "Principal Authority - Part 4";
}

@model GLAA.ViewModels.LicenceApplication.FullNameViewModel

@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "PrincipalAuthority" }, { "submittedPageId", "4" } })

@using (Html.BeginForm("SaveFullName", "PrincipalAuthority"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                What is your full name?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.TextFormGroupFor(x => x.FullName)
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}


