@{
    ViewBag.Title = "Session timeout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Application Error
        </h1>
        <p class="lede">
            Unfortunately the application has encountered an error. Don't worry your progress has been saved so far.
        </p>
        <p>
            You can return to the <a href="~/Home/Index">Home</a> page or <a href="~/Licence/ViewApplication">Return to your application</a>.
            You may be asked to log in again.
        </p>
    </div>
</div>
