@{
    ViewBag.Title = "Director or Partner - Part 13";
}

@model GLAA.ViewModels.LicenceApplication.NationalInsuranceNumberViewModel

@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "DirectorOrPartner" }, { "submittedPageId", "13" } })

@using (Html.BeginForm("SaveNationalInsuranceNumber", "DirectorOrPartner"))
{
    @Html.HiddenFor(x => x.IsUk)
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                What is the director's/partner's National Insurance Number?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.TextFormGroupFor(x => x.NationalInsuranceNumber)
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}