@{
    ViewBag.Title = "Director or Partner - Part 10";
}

@model GLAA.ViewModels.LicenceApplication.MobileNumberViewModel

@using (Html.BeginForm("SavePersonalMobileNumber", "DirectorOrPartner"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                What is the director's/partner's mobile number?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.TextFormGroupFor(x => x.MobileNumber)
        </div>
    </div>
    
    <button type="submit" class="button">Save and continue</button>
}